<h2 class="center">ユーザー,一覧</h2>
<div class="center">
  <a class="button" href="/staffs/new">新規ユーザー登録</a>
<table class="table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Zip Code</th>
      <th>Edit</th>
      <th>Delete</th>
 </tr>
 </div>