ul {
  width: 1024px;
  height: 15px;
  margin: 2px;
  padding: 10px;
  overflow: hidden;
  border: solid;
  border-color: lightseagreen;
}

li {
  float: left;
  width: 70px;
  list-style-type: none;
}

a {
  display: inline-block;
  margin: 0px;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  background-color: #ff8ba7;
  color: #fff;
}

a:hover {
  background-color: #ffc6c7;
}