<head>
	<link href="/css/footer.css" rel="stylesheet">
</head>

<div class="logout">
<p class="border"></p>

	<% if (loggedIn) { %>
	<button class="logout_btn" type="submit"><a href="/managers/logout">Log out</a></button>
	<% } %>

</div>