<head>
	<link href="/css/header.css" rel="stylesheet">
</head>

<div class="r_login">
		<% if (loggedIn) { %>
		<p class="staff_id">社員ID:<%= staffs.name %></p>
		<% } %>
	</div>

<div class=header>
	<h1 class="m_title"> Web Care システム</h1>
	<p class="border"></p>
</div>

<div class="header_wrapper">
	<div class="">

		<% if (loggedIn) { %>
		<ul class="nav2">
			<li class="nav-title"><a>Cera Staff Page - 利用者情報</a></li>
			<li><a href="/careRecords/new">/ 新規登録</a></li>
			<li><a href="/careRecords/usersList">/ リスト</a></li>
		</ul>
		<% } %>
	</div>

</div>