<head>
    <link href="/css/listinfo.css" rel="stylesheet">
</head>

<%- include('r_header'); %>

<div class="user_list">
    <div class="user_list_in">
        <% userList.forEach(userList => { %>
        <ul>
            <li id="staff_list">
                <a href="<%=`/careRecords/users/${userList.user_id}`%>">
                    <%= userList.user_name %></a>
            </li>
        </ul>
        <% }); %>
    </div>
</div>