<head>
    <link href="/css/listinfo.css" rel="stylesheet">
</head>

<%- include('r_header'); %>

<div class="staff_list_wrapper"></div>
<div class="user_list">
<p class="users_list_titel">利用者 一覧</p>
    <div class="user_list_in">
        <% userList.forEach(userList => { %>
        <ul>
            <li id="user_list_inner">
                <a class="user_list_name" href="<%=`/careRecords/users/${userList.user_id}`%>">
                    <%= userList.user_name %></a>
            </li>
        </ul>
        <% }); %>
    </div>
</div>