<!-- パーシャル,header -->
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <li class="menulist">あ<a href="http://localhost:3000/personalinfo" class="link">MENU1</a></li>

  
</body>

</html>