<!-- パーシャル,header -->
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/header.css">
</head>

<body>
  <ul>
    <li><a href="/personalinfo">基本情報</a></li> <%# パスは経路 %> 
    <li><a href="/carerecord">介護記録</a></li> <%# 未 %>  
    <li><a href="/contactus">お問い合わせ</a></li> <%# 未 %>  
</ul>

  
</body>

</html>