<head>
    <title>WEB カルテシステム</title>
    <link href="/css/layout.css" rel="stylesheet">
</head>

<div class="top_index" >
<a class="manager_Start" href="/managers/login">Web Care 管理システム</a>
<a class="staff_start" href="./staffs/login">Web Care 記録システム</a></div>



<%# 以下、練習,homeController.jsにルート記述あり %> 
<h1><%- // title %> </h1>
<p><%- // me %> </p>