<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB カルテシステム</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
<div class="changebody" >
<a href="./managers/login">Web Care 管理システム</a>
<a href="./staffs/login">Web Care 記録システム</a>
    </div>
</body>
</html>


<%# 以下、練習,homeController.jsにルート記述あり %> 
<h1><%- // title %> </h1>
<p><%- // me %> </p>