<head>
    <link href="/css/layout.css" rel="stylesheet">
</head>

<div class="top_index">
    <a class="manager_Start" href="/managers/login">Web Care システム</a>

    <%# 以下、練習,homeController.jsにルート記述あり %>
    <h1><%- // title %> </h1>
    <p><%- // me %> </p>