<!DOCTYPE html>
<html lang="ja">
   <head>
       <meta charset="utf-8">
       <link rel="stylesheet" href="/css/style.css">
       <title><%= title %></title>
   </head>
   <body>
       <h3><%= title %></h3>
       <p><%= description %></p>
       <!-- side menu -->
       <div class="side_menu">
           <div class="side_menu_header">サイドメニュー</div>
           <ul class="side_menu_body">
               <li>サイドメニューA</li>
               <li>サイドメニューB</li>
               <li>サイドメニューC</li>
           </ul>
       </div>
       <%- body %>
   </body>
</html>