<!--
固定
・header
・footer
・side（パーシャル）
body
・viewsにある.ejsが適応される
-->

<body>
    <header>ヘッダー箇所
        <li class="menulist"><a href="http://localhost:3000/personalinfo" class="link">MENU1</a></li>
    </header>
    <div><%- include('partials/sideinfo'); %> </div>
    <%- body %>
    <footer>フッター箇所</footer>
</body>