<!--
固定
・header
・footer
・side（パーシャル）
body
・viewsにある.ejsが適応される
-->

<body>
    <header>
        <div>
        <%- include('partials/header'); %> 
        </div>
    </header>
    
    <div><%- include('partials/sideinfo'); %> </div>
    
    <%- body %>

    <footer>
    <div>
        <%- include('partials/footer'); %> 
        </div>
    </footer>
</body>