<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>基本情報</title>
</head>
<body>
<p>基本情報</p>  
</body>
</html>
<!-- 個人の基本的な情報を表示するページ -->
