<div>
      	<div class="login">
			<% if (loggedIn) { %>
				<p>login中の社員ID:
        <%= staffs.name %>
       </p>
       </div>
       <div class="log_out">
				<form class="form_reset" action="./logout" method=>
        <button class="btn" type="submit">Log out</button>
				</div>
        <div>

			<% } %>
		</div>
</div>