<head>
    <link href="/css/layout.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
</head>

<div class="top_index">
    <a class="start" href="/managers/login">Web Care システム</a>
</div>

<%# homeController.jsから記述 %>
<div class="greeting">
    <h1 class="greeting_title"><%- title %> </h1>
    <p class="greeting_sub"><%- sub %> </p>
    <p class="greeting_Annotation"><%- Annotation %></p>
</div>