<head>
  <link href="/css/layout.css" rel="stylesheet">
</head>

</body>

</html>
<div class="m_data_form">
  <form class="m_login_form" action="/managers/login" method="POST">
    <label for="username">社員番号</label>
    <input type="text" class="m_form" name="username" id="username" placeholder="例.123456"><br>
    <label for="m_password">Password</label>
    <input type="password" class="m_form" name="password" id="m_password" placeholder="例.password"><br>
    <div class="m_btn_container">
      <button type="submit" class="m_btn">login</button>
    </div>
  </form>
</div>