 
<head>
    <link href="/css/list.css" rel="stylesheet">
</head>
 
 <div class="staff_list">
 <div class="staff_list_in">
 <% staffList.forEach(staffList => { %>
 <ul>
 <li id="staff_list">
 <a href="<%=`/managers/staffs/${staffList.staff_id}`%>">
<%= staffList.staff_id %></a>
</li>
</ul>
<% }); %>
</div>
</div>


