 
<head>
    <link href="/css/listinfo.css" rel="stylesheet">
</head>

<%- include('m_header'); %>
 
 <div class="staff_list">
 <div class="staff_list_in">
 <% staffList.forEach(staffList => { %>
 <ul>
 <li id="staff_list">
 <a href="<%=`/managers/staffs/${staffList.staff_id}`%>">
<%= staffList.staff_name %></a>
</li>
</ul>
<% }); %>
</div>
</div>


